""" Advent of Code {{ year }}, Day {{ "%02d"|format(day) }}: https://adventofcode.com/{{ year }}/day/{{ day }} """

from io import StringIO
from pathlib import Path
from typing import Iterator, TextIO

import pytest

from util import Timer, get_input_path


def main(input_path: Path, timer: Timer):
    with open(input_path) as fp:
        ...


SAMPLE_INPUT = """\

"""


@pytest.fixture
def sample_input() -> Iterator[TextIO]:
    with StringIO(SAMPLE_INPUT) as fp:
        yield fp


def test_something(sample_input):
    assert True is False


if __name__ == "__main__":
    input_path = get_input_path({{ day }}, year={{ year }})
    with Timer() as timer:
        main(input_path, timer)
